[Unit]
Description=Parking Monitor Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/home/pi/parking-monitor
ExecStart=/usr/bin/docker compose -p pm up
ExecStop=/usr/bin/docker compose -p pm down
Restart=always

[Install]
WantedBy=multi-user.target
